/* Clase personalizada para el fondo de la sección de servicios */
.bg-navbar-color {
  background-color: rgba(26, 4, 93, 1);
}

.bg-portafolio {
  background-color: rgba(35, 35, 35, 1);
}
.bg-color-global {
  background-color: rgb(102, 252, 241);
}

.text-color-global {
  color: rgb(102, 252, 241);
}

@keyframes fall {
  0% {
    opacity: 0;
    transform: translateY(-200px) translateX(-100px);
  }
  50% {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-fall {
  animation: fall 3s ease-out infinite;
}
