/* Estilo para el efecto de cambio de color al hacer scroll */
.navbar {
  background-color: rgba(26, 4, 93, 0.9);
  transition: background-color 0.3s, color 0.3s;
}
.navbar.scrolled {
  background-color: rgba(26, 4, 93, 0.1);
}
.navbar.scrolled a {
  color: #0c022c;
}
.navbar a {
  cursor: pointer;
}
@media (max-width: 640px) {
  #menu {
  }
}
.navbar {
  background-color: rgba(26, 4, 93, 0.9);
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
