.swiper-container {
  position: relative;
  width: 100%;
  overflow: hidden; /* Asegúrate de que el contenedor no permita desbordamiento */
}

.swiper-slide {
  width: 100%; /* Asegúrate de que cada diapositiva ocupe el 100% del contenedor */
  flex-shrink: 0; /* Evita que las diapositivas se reduzcan */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000; /* Cambia el color según tus necesidades */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-next {
  right: 10px; /* Ajusta la posición según tus necesidades */
}

.swiper-button-prev {
  left: 10px; /* Ajusta la posición según tus necesidades */
}

.swiper-pagination {
  bottom: 10px; /* Ajusta la posición según tus necesidades */
  text-align: center;
}

/* Cambiar el color de los puntos de paginación del carrusel */
.swiper-pagination-bullet {
  background-color: rgb(6, 12, 44); /* Color de los puntos inactivos */
}

.swiper-pagination-bullet-active {
  background-color: rgb(102, 252, 241); /* Color del punto activo */
}

.perspective {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
